@CHARSET "UTF-8";
@import "../datatables/datatables.css";
/**
 * Content controller general CSS file
 *
 * ID:s that are used by layout and layout.css and must not be used to avoid duplicate id's:
 * #alert
 * #background
 * #container
 * #header
 * #title
 * #search
 * #search-top
 * #search-field
 * #globalSearch
 * #search-submit
 * #submitsearch
 * #select
 */

 /**
 * CSS "constants" cheat sheet
 *
 * RED 		= #D21034
 * BLUE		= #0089CF
 * GREEN	= #4B9B07
 * YELLOW	= #FFC726
 * DEEPBLUE	= #003581
 * GREY		= #CCCCCC
 */

 #privatemessages .message-header *{
	 display: inline;
}
#privatemessages .title-icon{
	padding: 2px;
}
#privatemessages .message-from{
	font-size: 12px;
	width: 150px;
	}
#privatemessages .message-title{
	font-size: 12px;
}
#privatemessages .message-header{
	padding: 4px;
	}
#privatemessages .private-message{
	font-size: 12px;
}
#privatemessages h2 {
    font-size: 18px;
    margin-top: 15px;
    padding: 0 0 10px;
}
#privatemessages .confirm-delete{
	font-size: 11px;
}
#privatemessages.contentWithSidebar{
	width: 567px;
}

#sidebar.left { width: 140px !important; }


.dataTables_info { padding-top: 0; }
			.dataTables_paginate { padding-top: 0; }
			.css_right { float: right; }
			#example_wrapper .fg-toolbar { font-size: 0.8em }
			#theme_links span { float: left; padding: 2px 10px; }